# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist
bower_components
node_modules
npm-debug.log
vendor
.rmsdk
.DS_Store
*.sublime-project
*.sublime-workspace
*.bak
*.vscode
*.codekit3