/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

#content .wp-pagenavi {
	clear: both;
	margin: 5px 0;
}

#content .wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	padding: 3px 5px;
	margin: 2px;
}

#content .wp-pagenavi a:hover {
	text-decoration: underline;
}

#content .wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

#content .wp-pagenavi span.current {
	font-weight: bold;
}