/* lists */
ul,
ol {
  list-style-type: none;
  margin: 0 0 $base-spacing;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    padding-left: $base-spacing * 1.5;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing * 1.5;
  }
}

ul.default {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;  
}

ol.default {
    list-style-type: decimal;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
